<!-- <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off"> -->
<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()"
    autocomplete="off">
    <h2 class="text-center text-primary">
        Sign up
    </h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right: 10px;">I am a: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male"
                formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-2" value="female"
                formControlName="gender"> Female
        </label>
    </div>
    <app-text-input [formControl]="$any(registerForm.controls['userName'])"
        [label]="'UserName'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])"
        [label]="'Known As'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
        [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])"
        [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])"
        [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])"
        [label]="'Password'" [type]="'password'"></app-text-input>
    <app-text-input
        [formControl]="$any(registerForm.controls['confirmPassword'])"
        [label]="'Confirm Password'" [type]="'password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngIf="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <!-- <div class="mb-3">
        <input type="text"
            class="form-control"
            name="userName"
            [(ngModel)]="model.userName"
            placeholder="UserName">
        <input type="text"
            [class.is-invalid]="registerForm.get('userName')?.errors &&
            registerForm.get('userName')?.touched"
            class="form-control"
            formControlName="userName"
            placeholder="UserName">
        <div class="invalid-feedback">
            Please enter a userName
        </div>
    </div> -->
    <!-- <div class="mb-3">
        <input type="text"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            placeholder="Password">
        <input type="password"
            [class.is-invalid]="registerForm.get('password')?.errors &&
            registerForm.get('password')?.touched"
            class="form-control"
            formControlName="password"
            placeholder="Password">
        <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('required')">
            Please enter a password
        </div>
        <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('minlength')">
            Password must be at least 4 characters
        </div>
        <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('maxlength')">
            Password must be at most 8 characters
        </div>
    </div> -->
    <!-- <div class="mb-3">
        <input type="text"
            class="form-control"
            name="password"
            [(ngModel)]="model.confirmPassword"
            placeholder="Confirm Password">
        <input type="password"
            [class.is-invalid]="registerForm.get('confirmPassword')?.errors &&
            registerForm.get('confirmPassword')?.touched"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Password">
        <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
            Please enter a password
        </div>
        <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">
            Password must be at least 4 characters
        </div>
        <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword')?.hasError('maxlength')">
            Password must be at most 8 characters
        </div>
        <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">
            Confirm Password is must match Password
        </div>
    </div> -->
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit"
            [disabled]="registerForm.invalid">Register</button>
        <button class="btn btn-dark" type="button"
            (click)="cancel();">Cancel</button>
    </div>
</form>

<!-- <p>Form value: {{registerForm.value|json}}</p>
<p>Form status: {{registerForm.status|json}}</p> -->
